.error-msg{
    color: red;
    text-align: center;
    font-size: 18px;
}
.navBar{
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
}
.am-tab-bar{//always at bottom
    bottom: 0;
    position: fixed;
    width: 100%;
    height: inherit;
}

.chat-me .am-list-content{
    text-align: right !important;
    // margin-left: 100px !important;
}

.chat-me .am-list-extra{
    padding-left: 10px ;
    flex-basis: auto !important
}

.emoji{
    z-index: 10;
    position: fixed;
    right: 60px;
    font-size: 18px;
}

.myMsg{
    display: inline-block;
      padding: 10px 15px 10px 15px;
      background-color: #9fe766;
      font-size: 18px;
      border-radius: 5px;
      margin-right: 10px;
}

.theirMsg{
    display: inline-block;
      padding: 10px 15px 10px 15px;
      background-color: white;
    //   background-color: #dddddd81;
      font-size: 18px;
      border-radius: 5px;
}

div.am-list-body::before{
    background-color: transparent!important;
}
div.am-list-body::after{
    background-color:transparent!important;
}
.am-list-body {
border-top: none;
border-bottom: none;
}

.am-list-item img{
width: 35px;
height: 35px;
}

.chatMsgs .am-list-line::after{
    background-color: transparent!important;
}